In [2]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd
import folium

from folium import plugins
from folium.plugins import HeatMap
fio_21 = pd.read_csv('fio_2021-2.csv', encoding = "ISO-8859-1")
fio_21.head()

,ï»¿fc_num,contact_date,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,basis,vehicle_year,vehicle_state,vehicle_model,vehicle_color,vehicle_style,vehicle_type,key_situations,contact_reason,weather
0,FC21000001,2021-01-01 09:17:00,144459,"LINNANE, BRENDAN",11586,CHRISTOPHER CARROLL,MASSACHUSETTS AVE,BOSTON,MA,2115,...,Probable Cause,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Officers responded to a larceny in progress at...,NaN
1,FC21000004,2021-01-01 14:42:00,144459,"LINNANE, BRENDAN",11586,CHRISTOPHER CARROLL,YARMOUTH ST,BOSTON,MA,2116,...,Reasonable Suspicion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Officers responded to 1 Ring Rd. for a radio c...,NaN
2,FC21000003,2021-01-01 14:46:00,153131,"CAMPOT, JOSEPH",11586,CHRISTOPHER CARROLL,NaN,BOSTON,MA,2116,...,Reasonable Suspicion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"About 2:46pm on Friday 01/01/21, Officers Camp...",NaN
3,FC21000007,2021-01-01 18:08:00,148319,"KEARNEY, PHILIP",99798,DERRICK LEVY,NaN,BOSTON,MA,2120,...,Probable Cause,2004.0,MA,Accord,White,"4 Door, Sedan",Passenger Car/ Automobile,NaN,"T/S for defective taillights. \n\nOperatorXXX,...",NaN
4,FC21000006,2021-01-01 20:35:00,157658,"POLITSOPOULOS, NICHOLAS",11586,CHRISTOPHER CARROLL,COLUMBUS AVE,BOSTON,MA,2116,...,Reasonable Suspicion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"About 8:35 PM on Friday January 1, 2021 office...",NaN

In [15]:
fio_20 = pd.read_csv('fio_2020.csv', encoding = "ISO-8859-1")
fio_20.head()

,fc_num,contact_date,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,basis,vehicle_year,vehicle_state,vehicle_model,vehicle_color,vehicle_style,vehicle_type,key_situations,contact_reason,weather
0,FC20000004,2020-01-01 00:00:00,103525,"NUNEZ, EVAN",80411,MANUEL BLAS,NaN,BOSTON,MA,2128,...,Reasonable Suspicion,2012.0,NaN,Rogue,Gray,Other,Suv (sport Utility Vehicle),NaN,"On Wednesday January 1, 2020 members of the A7...",Clear (Night)
1,FC20000075,2020-01-01 00:00:00,140304,"MULLANE, GIANNA",10163,THOMAS PRATT,MAGAZINE ST,ROXBURY,MA,2119,...,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Officers observed XXXlaying in the doorway of ...,NaN
2,FC20000001,2020-01-01 01:30:00,153329,"KOVALESKI, STEVEN",10092,DANIEL TRACEY,DORCHESTER ST,BOSTON,MA,2127,...,Reasonable Suspicion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"On 01/01/2020, Officers responded to ""Stats Ba...",NaN
3,FC20000002,2020-01-01 06:53:00,153099,"FULLAM, PATRICK",11586,CHRISTOPHER CARROLL,BOYLSTON ST,BOSTON,MA,2199,...,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,Body Worn Camera,About 6:55am Officers responded to a radio cal...,NaN
4,FC20000003,2020-01-01 10:02:00,117001,"SOTO, RAYMOND",12283,JAMES TARANTINO,ANNUNCIATION,ROXBURY,MA,2120,...,Probable Cause,NaN,NaN,NaN,NaN,NaN,NaN,"Body Worn Camera, Juvenile, Warrant Arrest",Officers placed XXX under arrest for 2 warrant...,Sunny

In [16]:
fio_19 = pd.read_csv('fio_2019.csv', encoding = "ISO-8859-1")
fio_19.head()

,fc_num,contact_date,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,basis,vehicle_year,vehicle_state,vehicle_model,vehicle_color,vehicle_style,vehicle_type,key_situations,narrative,weather
0,FC19000002,2019-09-29 9:00:00,131227,"TAYLOR, KIMBER",106714.0,SHANA COTTONE,ARCHDALE RD,ROSLINDALE,MA,2131,...,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Officers observed XXX Ruggles street member wa...,Sunny
1,FC19000003,2019-09-29 10:21:00,62601,"LEE, ELLYS",75661.0,JUANA HERNANDEZ,MALCOLM X BLVD,BOSTON,MA,2120,...,Intel,NaN,NaN,NaN,NaN,NaN,NaN,Gang,Officers observedd the above individual at foo...,Sunny
2,FC19000010,2019-09-29 20:25:00,86221,"LAI, THUAN",11180.0,PATRICK MORRISON,TONAWANDA ST,BOSTON,MA,2124,...,Reasonable Suspicion,1998.0,MA,Civic,White,"4 Door, Sedan",Passenger Car/ Automobile,NaN,OFFICERS OBSERVED ABOVE CAR COMING FROM WALDEC...,Clear (Night)
3,FC19000014,2019-09-29 18:00:00,153120,"O'LEARY, KEVIN",9035.0,KEVIN POWER,TROTTER CT,BOSTON,MA,2118,...,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OFFICERS ENCOUNTERED XXX , XXX , XXX AND ABOUT...",NaN
4,FC19000031,2019-09-30 10:32:00,97302,"ROMANO, JASON",9378.0,THOMAS O'LEARY,NORFOLK AVE,BOSTON,MA,2119,...,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,"Homeless, Body Worn Camera",Officers observed male down on park bench. Off...,Sunny

In [17]:
fio_18 = pd.read_csv('fio_2018.csv', encoding = "ISO-8859-1")
fio_18.head()

,fc_num,contact_date,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,circumstance,basis,vehicle_year,vehicle_state,vehicle_make,vehicle_model,vehicle_color,vehicle_style,vehicle_type,contact_reason
0,F180032195,1/1/2018 1:46,140330,"MEDRANO,SERGIO D",11586,"CARROLL, CHRISTOPHER",MASSACHUSETTS AVE,BSTN,MA,02118,...,Encountered,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AT ABOUT 01:46AM ON MONDAY 01/01/17 OFFICER OB...
1,F180032196,1/1/2018 0:57,140298,"GARNEY,BRIAN",10166,"TALBOT, MICHAEL",BROAD ST,BSTN,MA,02109,...,Stopped,Reasonable Suspicion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OFFICERS GARNEY AND O'BRIEN ASSIGNED TO THE A1...
2,F180032199,1/1/2018 0:00,131233,"FLYNN,ROBERT",10166,"TALBOT, MICHAEL",PARK PLZ,BSTN,MA,02116,...,Encountered,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ON 1/1/2018 OFFICERS RESPONDED TO 26 PARK PLAZ...
3,F180032200,1/1/2018 16:30,103762,"KANE,PATRICK",12283,"TARANTINO, JAMES",BURRELL ST,BSTN,MA,02119,...,Encountered,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX XXX WAS LOCATED LIVING IN THE BASEMENT OF ...
4,F180032201,1/1/2018 17:10,131212,"O'LOUGHLIN,JAMES M",12283,"TARANTINO, JAMES",COLUMBIA RD & NORMANDY ST,BSTN,MA,02121,...,Stopped,Probable Cause,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OFFICERS STOPPED THE ABOVE HEATH STREET ASSOCI...

In [3]:
def convtostr(row):
    try:
        curzip = str(row['zip'])
        if len(curzip) == 0:
            return '00000'
        elif len(curzip) == 1:
            return '0000' + curzip
        elif len(curzip) == 2:
            return '000' + curzip
        elif len(curzip) == 3:
            return '00' + curzip
        elif len(curzip) == 4:
            return '0' + curzip
        else:
            return curzip
    except:
        return None

fio_21['POSTAL'] = fio_21.apply(convtostr, axis=1)

In [18]:
fio_20['POSTAL'] = fio_20.apply(convtostr, axis=1)
fio_19['POSTAL'] = fio_19.apply(convtostr, axis=1)
fio_18['POSTAL'] = fio_18['zip']

In [19]:
fio_21 = fio_21[fio_21['POSTAL'].notna()]
fio_20 = fio_20[fio_20['POSTAL'].notna()]
fio_19 = fio_19[fio_19['POSTAL'].notna()]
fio_18 = fio_18[fio_18['POSTAL'].notna()]

In [5]:
import geopy

In [6]:
def get_latlong(geolocator, zipcode):
    return geolocator.geocode({"postalcode": zipcode})

geolocator = geopy.Nominatim(user_agent='test')

In [7]:
def get_lat_long(row):
    try:
        val = get_latlong(geolocator, row['POSTAL'])
        ret_lat = val.raw['lat']
        ret_long = val.raw['lon']
        return ret_lat, ret_long
    except:
        return None, None

In [8]:
zipdict = {}

In [9]:
some_data = fio_21
lats_2021 = []
lons_2021 = []
for index, row in some_data.iterrows():
    curzip = row['POSTAL']
    if curzip in zipdict:
        curlat,curlon = zipdict[curzip]
        lats_2021.append(curlat)
        lons_2021.append(curlon)
    else:
        curlat, curlon = get_lat_long(row)
        zipdict[curzip] = curlat, curlon
        lats_2021.append(curlat)
        lons_2021.append(curlon)
    if len(lats_2021) % 100 == 0:
        print(len(lats_2021))

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500

In [20]:
some_data = fio_20
lats_2020 = []
lons_2020 = []
for index, row in some_data.iterrows():
    curzip = row['POSTAL']
    if curzip in zipdict:
        curlat,curlon = zipdict[curzip]
        lats_2020.append(curlat)
        lons_2020.append(curlon)
    else:
        curlat, curlon = get_lat_long(row)
        zipdict[curzip] = curlat, curlon
        lats_2020.append(curlat)
        lons_2020.append(curlon)
    if len(lats_2020) % 100 == 0:
        print(len(lats_2020))

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700

In [21]:
some_data = fio_19
lats_2019 = []
lons_2019 = []
for index, row in some_data.iterrows():
    curzip = row['POSTAL']
    if curzip in zipdict:
        curlat,curlon = zipdict[curzip]
        lats_2019.append(curlat)
        lons_2019.append(curlon)
    else:
        curlat, curlon = get_lat_long(row)
        zipdict[curzip] = curlat, curlon
        lats_2019.append(curlat)
        lons_2019.append(curlon)
    if len(lats_2019) % 100 == 0:
        print(len(lats_2019))

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700

In [22]:
some_data = fio_18
lats_2018 = []
lons_2018 = []
for index, row in some_data.iterrows():
    curzip = row['POSTAL']
    if curzip in zipdict:
        curlat,curlon = zipdict[curzip]
        lats_2018.append(curlat)
        lons_2018.append(curlon)
    else:
        curlat, curlon = get_lat_long(row)
        zipdict[curzip] = curlat, curlon
        lats_2018.append(curlat)
        lons_2018.append(curlon)
    if len(lats_2018) % 100 == 0:
        print(len(lats_2018))

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400

In [10]:
fio_21['Lat'] = lats_2021
fio_21['Long'] = lons_2021

fio_21['Long'].isnull().values.any()

False

In [23]:
fio_20['Lat'] = lats_2020
fio_20['Long'] = lons_2020

fio_20['Long'].isnull().values.any()

False

In [24]:
fio_19['Lat'] = lats_2019
fio_19['Long'] = lons_2019

fio_19['Long'].isnull().values.any()

False

In [25]:
fio_18['Lat'] = lats_2018
fio_18['Long'] = lons_2018

fio_18['Long'].isnull().values.any()

False

In [26]:
fio_21 = fio_21[fio_21['Lat'].notna()]
fio_21 = fio_21[fio_21['Long'].notna()]
fio_20 = fio_20[fio_20['Lat'].notna()]
fio_20 = fio_20[fio_20['Long'].notna()]
fio_19 = fio_19[fio_19['Lat'].notna()]
fio_19 = fio_19[fio_19['Long'].notna()]
fio_18 = fio_18[fio_18['Lat'].notna()]
fio_18 = fio_18[fio_18['Long'].notna()]

In [12]:
initial_map = folium.Map(location=[42.3601, -71.0589])

heat_data = [[row['Lat'],row['Long']] for index, row in fio_21.iterrows()]

HeatMap(heat_data, min_opacity=0.2).add_to(initial_map)

initial_map.save("fio_2021.html")

In [27]:
initial_map = folium.Map(location=[42.3601, -71.0589])

heat_data = [[row['Lat'],row['Long']] for index, row in fio_20.iterrows()]

HeatMap(heat_data, min_opacity=0.2).add_to(initial_map)

initial_map.save("fio_2020.html")

In [28]:
initial_map = folium.Map(location=[42.3601, -71.0589])

heat_data = [[row['Lat'],row['Long']] for index, row in fio_19.iterrows()]

HeatMap(heat_data, min_opacity=0.2).add_to(initial_map)

initial_map.save("fio_2019.html")

In [29]:
initial_map = folium.Map(location=[42.3601, -71.0589])

heat_data = [[row['Lat'],row['Long']] for index, row in fio_18.iterrows()]

HeatMap(heat_data, min_opacity=0.2).add_to(initial_map)

initial_map.save("fio_2018.html")