In [2]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd
import folium

from folium import plugins
from folium.plugins import HeatMap

df = pd.read_csv('employee-earnings-report-2021.csv', encoding = "ISO-8859-1")
df_2020 = pd.read_csv('city-of-boston-calendar-year-2020-earnings.csv', encoding = "ISO-8859-1")
df_2019 = pd.read_csv('allemployeescy2019_feb19_20final-all.csv', encoding = "ISO-8859-1")
df_2018 = pd.read_csv('employeeearningscy18full.csv', encoding = "ISO-8859-1")
#initial data
df_2020

nan_name_with_gross = df_2020[df_2020['NAME'].isnull()]

nan_name_with_gross

nan_name_with_gross = df[df['NAME'].isnull()]

nan_name_with_gross

#ONLY 2021 HAS NAN RECORDS IN NAMES, SO ONLY HAVE TO CLEAN THAT ONE UP

df_2020

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Smith,Sean P",Boston Police Department,Police Lieutenant,"$145,787.56",NaN,"$13,160.94","$124,395.57",NaN,"$45,210.00","$36,447.09","$365,001.16",02186
1,"Lee,Waiman",Boston Police Department,Police Detective,"$108,803.25",NaN,"$16,324.27","$96,126.59",NaN,"$111,688.00","$27,200.78","$360,142.89",02134
2,"Brown,John M",Boston Police Department,Police Sergeant (Det),"$132,699.44",NaN,"$19,672.83","$155,123.11",NaN,"$5,088.00","$33,175.06","$345,758.44",02136
3,"Danilecki,John H",Boston Police Department,Police Captain,"$162,770.15",NaN,"$24,504.13","$64,326.60","$3,548.13","$43,200.00","$41,579.47","$339,928.48",02081
4,"Barrett,Thomas E.",Boston Police Department,Police Sergeant (Det),"$132,699.44",NaN,"$16,723.95","$156,754.23",NaN,NaN,"$33,175.06","$339,352.68",02132
...,...,...,...,...,...,...,...,...,...,...,...,...
21853,"Homan,Paul A",BPS Substitute Teachers/Nurs,Substitute Teacher,$1.52,NaN,NaN,NaN,NaN,NaN,NaN,$1.52,02188
21854,"Lane,Cheryl A",BPS Substitute Teachers/Nurs,Sub Teacher - Retiree,$0.38,NaN,NaN,NaN,NaN,NaN,NaN,$0.38,02346
21855,"Cura,Miguel",BPS Substitute Teachers/Nurs,Substitute Teacher HE,$0.38,NaN,NaN,NaN,NaN,NaN,NaN,$0.38,02067
21856,"Nelson,Philip F",BPS Substitute Teachers/Nurs,Substitute Teacher HE,$0.38,NaN,NaN,NaN,NaN,NaN,NaN,$0.38,02132
21857,"Kravette,Eva",BPS Substitute Teachers/Nurs,Substitute Teacher,$0.38,NaN,NaN,NaN,NaN,NaN,NaN,$0.38,02135

In [33]:
df_2019 = pd.read_csv('allemployeescy2019_feb19_20final-all.csv', encoding = "ISO-8859-1")
all_officers_2019 = df_2019[df_2019['TITLE'] == 'Police Officer']

In [3]:
#number of police officers (compared to other employees):
#police officers:
all_officers_2021 = df[df['TITLE'] == 'Police Officer']
num_officers_2021 = len(all_officers_2021)

all_officers_2020 = df_2020[df_2020['TITLE'] == 'Police Officer']
num_officers_2020 = len(all_officers_2020)

all_officers_2019 = df_2019[df_2019['TITLE'] == 'Police Officer']
num_officers_2019 = len(all_officers_2019)

all_officers_2018 = df_2018[df_2018['TITLE'] == 'Police Officer']
num_officers_2018 = len(all_officers_2018)

all_non_officer_employees_2021 = df[df['TITLE'] != 'Police Officer']
num_non_officer_employees_2021 = len(all_non_officer_employees_2021)

all_non_officer_employees_2020 = df_2020[df_2020['TITLE'] != 'Police Officer']
num_non_officer_employees_2020 = len(all_non_officer_employees_2020)

all_non_officer_employees_2019 = df_2019[df_2019['TITLE'] != 'Police Officer']
num_non_officer_employees_2019 = len(all_non_officer_employees_2019)

all_non_officer_employees_2018 = df_2018[df_2018['TITLE'] != 'Police Officer']
num_non_officer_employees_2018 = len(all_non_officer_employees_2018)

prop_officers_2021 = num_officers_2021/len(df)

prop_officers_2020 = num_officers_2020/len(df_2020)

prop_officers_2019 = num_officers_2019/len(df_2019)

prop_officers_2018 = num_officers_2018/len(df_2018)

prop_non_2021 = num_non_officer_employees_2021/len(df)

prop_non_2020 = num_non_officer_employees_2020/len(df_2020)

prop_non_2019 = num_non_officer_employees_2019/len(df_2019)

prop_non_2018 = num_non_officer_employees_2018/len(df_2018)

In [34]:
len(all_officers_2019)

1346

In [36]:
def convtostr(row):
    try:
        curzip = str(row['POSTAL'])
        if len(curzip) == 0:
            return '00000'
        elif len(curzip) == 1:
            return '0000' + curzip
        elif len(curzip) == 2:
            return '000' + curzip
        elif len(curzip) == 3:
            return '00' + curzip
        elif len(curzip) == 4:
            return '0' + curzip
        else:
            return curzip
    except:
        return None

all_officers_2019['POSTALSTR'] = all_officers_2019.apply(convtostr, axis=1)

C:\Users\ANTON_~1\AppData\Local\Temp/ipykernel_14404/1318663449.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_officers_2019['POSTALSTR'] = all_officers_2019.apply(convtostr, axis=1)

In [39]:
all_officers_2019 = all_officers_2019[all_officers_2019['POSTALSTR'].notna()]
len(all_officers_2019)

1346

In [38]:
all_officers_2021 = all_officers_2021[all_officers_2021['POSTAL'].notna()]
all_officers_2020 = all_officers_2020[all_officers_2020['POSTAL'].notna()]
all_officers_2019 = all_officers_2019[all_officers_2019['POSTAL'].notna()]
all_officers_2018 = all_officers_2018[all_officers_2018['POSTAL'].notna()]

In [5]:
import geopy

In [6]:
def get_latlong(geolocator, zipcode):
    return geolocator.geocode({"postalcode": zipcode})

geolocator = geopy.Nominatim(user_agent='test')
get_latlong(geolocator, '10117').raw['lon']

'13.388083672690993'

In [40]:
def get_lat_long(row):
    try:
        val = get_latlong(geolocator, row['POSTAL'])
        ret_lat = val.raw['lat']
        ret_long = val.raw['lon']
        return ret_lat, ret_long
    except:
        return None, None
    
def get_lat_long_2019(row):
    try:
        val = get_latlong(geolocator, row['POSTALSTR'])
        ret_lat = val.raw['lat']
        ret_long = val.raw['lon']
        return ret_lat, ret_long
    except:
        return None, None

In [9]:
%%time
some_data = all_officers_2021[:100]
zipdict = {}
lat_lons = []
for index, row in some_data.iterrows():
    curzip = row['POSTAL']
    if curzip in zipdict:
        lat_lons.append(zipdict[curzip])
    else:
        curlat, curlon = get_lat_long(row)
        zipdict[curzip] = curlat, curlon
        lat_lons.append((curlat, curlon))

Wall time: 22.8 s

In [8]:
zipdict = {}

In [39]:
lat_lons

[('42.3202470324159', '-71.08689548042814'),
 ('42.37795139991547', '-71.06372325566356'),
 ('42.182009250793655', '-71.05057714761905'),
 ('50.46955684680851', '30.602618040425533'),
 ('42.25245912817224', '-71.1282824687586'),
 ('42.368175227692305', '-71.17595194692308'),
 ('54.64165275', '25.20824074090909'),
 ('42.330347875', '-71.10579266554053'),
 ('42.34268521702128', '-71.24708776170213'),
 ('41.9666304175', '-70.963985505'),
 ('46.16607869230769', '5.186846346153846'),
 ('42.28693275422109', '-71.06580853963735'),
 ('50.4698421', '30.6018406'),
 ('42.27416392024408', '-71.0905531903087'),
 ('50.39460038', '30.625840110000002'),
 ('42.37795139991547', '-71.06372325566356'),
 ('42.25245912817224', '-71.1282824687586'),
 ('42.334326481373786', '-71.04121679759798'),
 ('42.25245912817224', '-71.1282824687586'),
 ('42.28693275422109', '-71.06580853963735'),
 ('50.487317822222224', '30.59780151111111'),
 ('50.4698421', '30.6018406'),
 ('42.28693275422109', '-71.06580853963735'),
 ('42.25245912817224', '-71.1282824687586'),
 ('42.27416392024408', '-71.0905531903087'),
 ('42.274069', '12.92544695'),
 ('50.46955684680851', '30.602618040425533'),
 ('44.30690972003231', '-71.77879484862682'),
 ('54.64107502058823', '25.26912815882353'),
 ('42.02711505', '-71.01670897999999'),
 ('42.28693275422109', '-71.06580853963735'),
 ('42.27416392024408', '-71.0905531903087'),
 ('42.25245912817224', '-71.1282824687586'),
 ('42.10703318157895', '-70.7093830605263'),
 ('42.25245912817224', '-71.1282824687586'),
 ('42.182009250793655', '-71.05057714761905'),
 ('42.3202470324159', '-71.08689548042814'),
 ('42.10703318157895', '-70.7093830605263'),
 ('42.27416392024408', '-71.0905531903087'),
 ('42.27416392024408', '-71.0905531903087'),
 ('42.295178863521755', '-71.05519993682391'),
 ('50.39454307391304', '30.60870655652174'),
 ('42.07363853207547', '-71.25246331132075'),
 ('42.27416392024408', '-71.0905531903087'),
 ('42.25245912817224', '-71.1282824687586'),
 ('50.39454307391304', '30.60870655652174'),
 ('42.25245912817224', '-71.1282824687586'),
 ('42.30481824686347', '-71.15795955756458'),
 ('42.28354214957213', '-71.12892205525672'),
 ('42.06974418055556', '-70.79893155833334')]

In [9]:
some_data = all_officers_2021
lat_lons_2021 = []
lats_2021 = []
lons_2021 = []
for index, row in some_data.iterrows():
    curzip = row['POSTAL']
    if curzip in zipdict:
        #lat_lons_2021.append(zipdict[curzip])
        curlat,curlon = zipdict[curzip]
        lats_2021.append(curlat)
        lons_2021.append(curlon)
    else:
        curlat, curlon = get_lat_long(row)
        zipdict[curzip] = curlat, curlon
        #lat_lons_2021.append((curlat, curlon))
        lats_2021.append(curlat)
        lons_2021.append(curlon)
    if len(lats_2021) % 100 == 0:
        print(len(lats_2021))

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300

In [10]:
some_data = all_officers_2020
lat_lons_2020 = []
lats_2020 = []
lons_2020 = []
for index, row in some_data.iterrows():
    curzip = row['POSTAL']
    if curzip in zipdict:
        #lat_lons_2020.append(zipdict[curzip])
        curlat,curlon = zipdict[curzip]
        lats_2020.append(curlat)
        lons_2020.append(curlon)
    else:
        curlat, curlon = get_lat_long(row)
        zipdict[curzip] = curlat, curlon
        #lat_lons_2020.append((curlat, curlon))
        lats_2020.append(curlat)
        lons_2020.append(curlon)
    if len(lats_2020) % 100 == 0:
        print(len(lats_2020))

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300

In [41]:
some_data = all_officers_2019
lat_lons_2019 = []
lats_2019 = []
lons_2019 = []
for index, row in some_data.iterrows():
    curzip = row['POSTALSTR']
    if curzip in zipdict:
        #lat_lons_2019.append(zipdict[curzip])
        curlat,curlon = zipdict[curzip]
        lats_2019.append(curlat)
        lons_2019.append(curlon)
    else:
        curlat, curlon = get_lat_long(row)
        zipdict[curzip] = curlat, curlon
        #lat_lons_2019.append((curlat, curlon))
        lats_2019.append(curlat)
        lons_2019.append(curlon)
    if len(lats_2019) % 100 == 0:
        print(len(lats_2019))

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300

In [12]:
some_data = all_officers_2018
lat_lons_2018 = []
lats_2018 = []
lons_2018 = []
for index, row in some_data.iterrows():
    curzip = row['POSTAL']
    if curzip in zipdict:
        #lat_lons_2018.append(zipdict[curzip])
        curlat,curlon = zipdict[curzip]
        lats_2018.append(curlat)
        lons_2018.append(curlon)
    else:
        curlat, curlon = get_lat_long(row)
        zipdict[curzip] = curlat, curlon
        #lat_lons_2018.append((curlat, curlon))
        lats_2018.append(curlat)
        lons_2018.append(curlon)
    if len(lats_2018) % 100 == 0:
        print(len(lats_2018))

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300

In [14]:
all_officers_2021['Lat'] = lats_2021
all_officers_2021['Long'] = lons_2021

all_officers_2021['Long'].isnull().values.any()

False

In [15]:
all_officers_2020['Lat'] = lats_2020
all_officers_2020['Long'] = lons_2020

all_officers_2020['Long'].isnull().values.any()

False

In [42]:
all_officers_2019['Lat'] = lats_2019
all_officers_2019['Long'] = lons_2019

all_officers_2019['Long'].isnull().values.any()

False

In [17]:
all_officers_2018['Lat'] = lats_2018
all_officers_2018['Long'] = lons_2018

all_officers_2018['Long'].isnull().values.any()

False

In [43]:
all_officers_2021 = all_officers_2021[all_officers_2021['Lat'].notna()]
all_officers_2021 = all_officers_2021[all_officers_2021['Long'].notna()]
all_officers_2020 = all_officers_2020[all_officers_2020['Lat'].notna()]
all_officers_2020 = all_officers_2020[all_officers_2020['Long'].notna()]
all_officers_2019 = all_officers_2019[all_officers_2019['Lat'].notna()]
all_officers_2019 = all_officers_2019[all_officers_2019['Long'].notna()]
all_officers_2018 = all_officers_2018[all_officers_2018['Lat'].notna()]
all_officers_2018 = all_officers_2018[all_officers_2018['Long'].notna()]

In [33]:
initial_map = folium.Map(location=[42.3601, -71.0589])

heat_data = [[row['Lat'],row['Long']] for index, row in all_officers_2021.iterrows()]

HeatMap(heat_data, min_opacity=0.2).add_to(initial_map)

initial_map.save("police_2021.html")

In [34]:
initial_map = folium.Map(location=[42.3601, -71.0589])

heat_data = [[row['Lat'],row['Long']] for index, row in all_officers_2020.iterrows()]

HeatMap(heat_data, min_opacity=0.2).add_to(initial_map)

initial_map.save("police_2020.html")

In [44]:
initial_map = folium.Map(location=[42.3601, -71.0589])

heat_data = [[row['Lat'],row['Long']] for index, row in all_officers_2019.iterrows()]

HeatMap(heat_data, min_opacity=0.2).add_to(initial_map)

initial_map.save("police_2019.html")

In [36]:
initial_map = folium.Map(location=[42.3601, -71.0589])

heat_data = [[row['Lat'],row['Long']] for index, row in all_officers_2018.iterrows()]

HeatMap(heat_data, min_opacity=0.2).add_to(initial_map)

initial_map.save("police_2018.html")

In [45]:
all_officers_2019.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL,POSTALSTR,Lat,Long
26,"Merricks,Kirk D.",Boston Police Department,Police Officer,"72,675.57",-,"215,580.10","18,750.17",-,-,-,"307,005.84",2124,02124,42.28693275422109,-71.06580853963735
58,"Figueroa,Robert F",Boston Police Department,Police Officer,"97,612.90",-,850.00,"58,021.25",702.80,"108,514.00","19,662.99","285,363.94",2120,02120,42.330347875,-71.10579266554053
62,"Almeida,Ismael Lopes",Boston Police Department,Police Officer,"94,156.49",-,800.00,"32,011.09",-,"138,414.00","18,831.42","284,213.00",2124,02124,42.28693275422109,-71.06580853963735
89,"Garcia,Francis N",Boston Police Department,Police Officer,"107,498.45",-,"8,011.46","71,128.85",-,"90,758.00",-,"277,396.76",2302,02302,54.64165275,25.20824074090909
98,"Acosta,Jose L",Boston Police Department,Police Officer,"107,498.45",-,"3,203.82","161,540.31",-,"1,840.00",-,"274,082.58",1960,01960,46.16607869230769,5.186846346153846

In [20]:
all_officers_2020.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL,Lat,Long
50,"Dugbazah,Sefa Kwasi",Boston Police Department,Police Officer,"$93,024.53",NaN,$800.00,"$38,419.08",NaN,"$139,840.00","$18,604.72","$290,688.33",02136,42.25245912817224,-71.1282824687586
51,"Almeida,Ismael Lopes",Boston Police Department,Police Officer,"$97,323.22",NaN,$800.00,"$48,564.55",NaN,"$124,476.00","$19,464.75","$290,628.52",02125,50.46955684680851,30.602618040425533
66,"Driscoll,Jeffery M.",Boston Police Department,Police Officer,"$97,323.22",NaN,$850.00,"$48,669.28",NaN,"$116,058.00","$24,330.97","$287,231.47",02472,42.368175227692305,-71.17595194692308
69,"Garcia,Francis N",Boston Police Department,Police Officer,"$110,981.78",NaN,"$8,198.80","$58,399.13",NaN,"$108,560.00",NaN,"$286,139.71",02302,54.64165275,25.20824074090909
73,"Downey,Paul J",Boston Police Department,Police Officer,"$108,622.51",NaN,"$16,373.13","$125,781.55",$875.99,"$33,028.00",NaN,"$284,681.18",02132,50.39454307391304,30.60870655652174

In [21]:
all_officers_2021.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN_EDUCATION_INCENTIVE,TOTAL_GROSS,POSTAL,Lat,Long
0,"Beckers,Richard",Boston Police Department,Police Officer,NaN,NaN,"1,264,843.63",NaN,NaN,NaN,NaN,"1,264,843.63",02119,42.3202470324159,-71.08689548042814
1,"McGowan,Jacqueline M.",Boston Police Department,Police Officer,NaN,NaN,"1,252,990.81",NaN,NaN,NaN,NaN,"1,252,990.81",02129,42.37795139991547,-71.06372325566356
3,"Washington,Walter",Boston Police Department,Police Officer,"100,963.38",NaN,"211,900.28","67,849.66",NaN,"9,016.00","10,096.55","399,825.87",02368,42.182009250793655,-71.05057714761905
32,"Almeida,Ismael Lopes",Boston Police Department,Police Officer,"99,101.82",NaN,800.00,"60,044.37",NaN,"126,822.00","19,820.24","306,588.43",02125,50.46955684680851,30.602618040425533
35,"Dugbazah,Sefa Kwasi",Boston Police Department,Police Officer,"91,784.20",NaN,800.00,"14,696.61",NaN,"178,940.00","18,356.66","304,577.47",02136,42.25245912817224,-71.1282824687586

In [22]:
all_officers_2018.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL,Lat,Long
0,"Williams,David C.",Boston Police Department,Police Officer,"95,184.68",NaN,"503,025.78","45,176.88","5,307.62","24,610.00","4,375.69","677,680.65",02356,42.062389905882355,-71.10450931764706
2,"Bucelewicz,Helen",Boston Police Department,Police Officer,"8,676.89",NaN,"200,000.00",NaN,NaN,NaN,NaN,"208,676.89",02135,42.350058659506594,-71.15404888085921
4,"Jones,Ronnie C",Boston Police Department,Police Officer,"462,149.98",NaN,"114,973.46",NaN,NaN,NaN,NaN,"577,123.44",02126,42.27416392024408,-71.0905531903087
6,"Washington,Walter",Boston Police Department,Police Officer,"313,154.27",NaN,"99,893.17","45,337.30",NaN,"31,556.00","4,378.77","494,319.51",02368,42.182009250793655,-71.05057714761905
7,"Gannon,Sean O",Boston Police Department,Police Officer,"65,742.44",NaN,"95,330.08",NaN,NaN,NaN,"11,610.75","172,683.27",02127,42.334326481373786,-71.04121679759798